@font-face {
  font-family: 'MyFont';
  src: url('./fonts/webfont.woff2') format('woff2'), url('./fonts/webfont.woff') format('woff');
  font-style: normal;
}

.box {
  font-family: 'Myfont';
  font-size: 16px;
  color: aquamarine;
}